@(studentForm: Form[Student])

@import helper._
@import helper.twitterBootstrap._

@main("Thông tin sinh viên") {
    <h1>Thông tin sinh viên</h1>
	<hr>
    @form(CSRF(routes.Students.save())) {
		<input type="hidden" value="@studentForm("id").valueOr("")" name="id"/>
		<fieldset>
            <table border="0" width="100%">
                <tr>
                    <td><font color = "#ff9933">@helper.inputText(studentForm("msv"), '_label -> "MSV",'readonly -> "readonly")</td>
					<td><font color = "#ff9933">@helper.inputText(studentForm("name"), '_label -> "Họ & tên",'readonly -> "readonly")</td>
					<td><font color = "#ff9933">@helper.inputText(studentForm("email"), '_label -> "Email",'readonly -> "readonly")</td>
                    <td>@helper.inputText(studentForm("birthday"), '_label -> "Ngày sinh")</td>
                    
                </tr>
                <tr>
                    <td>@helper.inputText(studentForm("address"), '_label -> "Địa chỉ")</td>
                    <td>@helper.select(studentForm("sectors"),
                        options("CNTT" -> "Công Nghệ Thông Tin",
                                "KHMT" -> "Khoa Học Máy Tính",
                                "HTTT" -> "Hệ Thống Thông Tin",
                                "TT&MMT" -> "Truyền Thông Và Mạng Máy Tính",
                                "ĐTVT" -> "Điện Tử Viễn Thông",
                                "VLKT" -> "Vật Lý Kĩ Thuật"),
                        '_default -> "-----------------chọn khoa-----------------",
                        '_label -> "Khoa")
                    </td>
                    <td>@helper.select(studentForm("courses"),
                        options("K59" -> "Khóa 59",
                                "K58" -> "Khóa 58",
                                "K57" -> "Khóa 57",
                                "K56" -> "Khóa 56"),
                        '_default -> "--chọn khóa học--",
                        '_label -> "Khóa Học")
                    </td>
					<td>@helper.inputText(studentForm("phoneNumber"), '_label -> "Số điện thoại")</td>
                </tr>
            </table>
            @helper.textarea(studentForm("thesis"), '_label -> "Đề tài luận văn")
        </fieldset>
        <input type="submit" class="btn btn-primary" value="Lưu lại">
        <a class="btn" href="@routes.Students.list()">Hủy bỏ</a>
    }
}
