@(faculty : Faculty)
@main("Thông tin giáo viên"){
	@if(faculty.degree != null){
	<h1>@faculty.degree.@faculty.name</h1>
	}else{
	<h1>@faculty.name</h1>
	}
	<hr>
	<table border="0" width = "40%" style="font-size:130%">
	<tr>
		<th>Mã giảng viên:</th>
		<td>@faculty.mgv</td>
	</tr>
	<tr>
		<th>Họ & tên:</th>
		<td>@faculty.name</td>
	</tr>
	<tr>
		<th>Email:</th>
		<td>@faculty.email</td>
	</tr>
	<tr>
		<th>Số điện thoại:</th>
		<td>@faculty.phoneNumber</td>
	</tr>
	<tr>
		<th>Phòng: </th>
		<td>@faculty.placeWork</td>
	</tr>
	</table>
	<hr>
	}