@(facultyForm: Form[Faculty])

@import helper._
@import helper.twitterBootstrap._

@main("Thông tin giáo viên") {
    <h1>Thông tin giáo viên</h1>
    @form(CSRF(routes.Faculties.save())) {
        <input type="hidden" value="@facultyForm("id").valueOr("")" name="id"/>
        <fieldset>
            <legend>Giáo viên (@facultyForm("name").valueOr("New"))</legend>
			<table border="0" width="100%">
			<tr>
                <td>@helper.inputText(facultyForm("mgv"), '_label -> "MGV")</td>
                <td>@helper.inputText(facultyForm("name"), '_label -> "Họ & Tên")</td>
                <td>@helper.select(facultyForm("degree"),
					options ("ThS"->"Thạc Sĩ",
					"TS"->"Tiến sĩ",
					"PGS"->"Phó giáo sư",
					"GS"->"Giáo sư"),
					'_default->"--chọn cấp bậc--",
					'_label-> "Học vị")</td>
                
			</tr>
			<tr>
				<td>@helper.inputText(facultyForm("placeWork"), '_label -> "Phòng")</td>
				<td>@helper.inputText(facultyForm("email"), '_label -> "Email")</td>
				<td>@helper.inputText(facultyForm("phoneNumber"), '_label -> "Số điện thoại")</td>
			</tr>
		</table>
        </fieldset>
        <input type="submit" class="btn btn-primary" value="Lưu lại">
        <a class="btn" href="@routes.Faculties.list()">Hủy bỏ</a>
    }
}
