@(currentPage: com.avaje.ebean.Page[Faculty])

@main("Danh sách giáo viên") {<h2>Danh sách giáo viên</h2>
    <script>
    function del(urlToDelete) {
    $.ajax ( {
    url : urlToDelete,
    type : 'DELETE',
    success : function ( results ) {
    // Refresh the page
    location.reload ( ) ;
    }
    } ) ;
    }
    </script>
    <div id="pagination" class="pagination">
        @if(currentPage.hasPrev) {
            <li>
                <a href="@routes.Faculties.list(currentPage.getPageIndex - 1)">
                        &larr;
                </a>
            </li>
        } else {
            <li class="disabled"><a>&larr;</a></li>
        }
        <li class="active">
            <a>@currentPage.getDisplayXtoYofZ(" - ", " / ")</a>
        </li>
        @if(currentPage.hasNext) {
            <li>
                <a href="@routes.Faculties.list(currentPage.getPageIndex + 1)">&rarr;</a>
            </li>
        } else {
            <li class="disabled"><a>&rarr;</a></li>
        }
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>MGV</th>
                <th>Tên</th>
                <th>SĐT</th>
                <th>Phòng</th>
				<th>Email</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
        @for(faculty <- currentPage.getList()){
            <tr>
                <td><a href="@routes.Faculties.details(faculty)"> @faculty.mgv</a></td>
                <td><a href="@routes.Faculties.details(faculty)"> @faculty.name</a></td>
                <td><a href="@routes.Faculties.details(faculty)"> @faculty.phoneNumber</a></td>
                <td><a href="@routes.Faculties.details(faculty)"> @faculty.placeWork</a></td>
				<td><a href="@routes.Faculties.details(faculty)"> @faculty.email</a></td>
                <td><a href="@routes.Faculties.details(faculty)"><span class="glyphicon glyphicon-pencil"></span></a>
                  <a onclick="javascript:del('@routes.Faculties.details(faculty)')">
                 <span class="glyphicon glyphicon-trash"></span></a>
           
            </tr>
        }
        </tbody>
    </table>
    <a href="@routes.Faculties.newFaculty()" class="btn btn-primary">Thêm</a>
}