@(currentPage: com.avaje.ebean.Page[Student])
@main("Danh sách sinh viên") {<h2>Danh sách sinh viên</h2>
    <script>
    function del(urlToDelete) {
    $.ajax ( {
    url : urlToDelete,
    type : 'DELETE',
    success : function ( results ) {
    // Refresh the page
    location.reload ( ) ;
    }
    } ) ;
    }
    </script>
	<div id="pagination" class="pagination">
   @if(currentPage.hasPrev) {
      <li>
         <a href="@routes.Students.list(currentPage.getPageIndex - 1)">
            &larr;
         </a>
      </li>
   } else {
     <li class="disabled"><a>&larr;</a></li>
   }
     <li class="active">
        <a>@currentPage.getDisplayXtoYofZ(" - ", " / ")</a>
     </li>
   @if(currentPage.hasNext) {
     <li>
      <a href="@routes.Students.list(currentPage.getPageIndex + 1)">&rarr;</a>
     </li>
   } else {
     <li class="disabled"><a>&rarr;</a></li>
   }
</div>
    <table class="table table-striped">
        <thead>
            <tr>
			    <th>MSV</th>
				<th>Ngày sinh</th>
                <th>Họ & tên</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
        @for(student <-currentPage.getList()){
                <tr>
					<td><a href="@routes.Students.information(student)"> @student.msv</a></td>
                    <td><a href="@routes.Students.information(student)"> @if(student.birthday != null) {
																@student.birthday.format("dd-MM-yyyy")}</a></td>
                    <td><a href="@routes.Students.information(student)"> @student.name</a></td>
                    <td><a href="@routes.Students.information(student)"> @student.phoneNumber</a></td>
                    <td><a href="@routes.Students.information(student)"> @student.email</a></td>
                    <td><a href="@routes.Students.information(student)">
						<span class="glyphicon glyphicon-pencil"></span></a>
						<a onclick="javascript:del('@routes.Students.delete(student.msv)')">
					<span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                </tr>
        }
        </tbody>
    </table>
    <a href="@routes.Students.newAccount()" class="btn btn-primary">Thêm</a>
}