@(field: Field, label: String = "CHANGEME", optionMap: Map[String, String], isMultiple: Boolean = false, help: String = "", readonly: Boolean = false)
<div class="form-group @if(field.hasErrors) {has-error}">
 <label class="col-sm-2 control-label" for="@field.id">@label</label>
 <div class="col-sm-10">
 <select
	 class="form-control"
	 id="@field.id"
	 name="@if(isMultiple) {@(field.name + "[]")} else {@field.name}"
	 @if(readonly) {disabled="disabled"}
	 @if(isMultiple) {multiple="multiple"}>
	 @if(!isMultiple) {<option class="blank" value="">---</option>}
	<strong> @for((optionKey, optionName) <- optionMap) {</strong>
<strong>		 <option id="@optionName" value="@optionKey" @if(optionKey == field.value.getOrElse("")) {selected}>@optionName</option></strong>
<strong>	 }
</strong>
</select>
 <span class="help-block">@help</span>
 <span class="help-block">@{field.error.map { error => error.message }}</span>
 </div>
 </div>