@(currentPage: com.avaje.ebean.Page[Faculty])

@main("Danh sách giáo viên") {<h2>Danh sách giáo viên</h2>
    <script>
    function del(urlToDelete) {
    $.ajax ( {
    url : urlToDelete,
    type : 'DELETE',
    success : function ( results ) {
    // Refresh the page
    location.reload ( ) ;
    }
    } ) ;
    }
    </script>
    <div id="pagination" class="pagination">
        @if(currentPage.hasPrev) {
            <li>
                <a href="@routes.Faculties.list(currentPage.getPageIndex - 1)">
                        &larr;
                </a>
            </li>
        } else {
            <li class="disabled"><a>&larr;</a></li>
        }
        <li class="active">
            <a>@currentPage.getDisplayXtoYofZ(" - ", " / ")</a>
        </li>
        @if(currentPage.hasNext) {
            <li>
                <a href="@routes.Faculties.list(currentPage.getPageIndex + 1)">&rarr;</a>
            </li>
        } else {
            <li class="disabled"><a>&rarr;</a></li>
        }
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>MGV</th>
                <th>Tên</th>
                <th>SĐT</th>
                <th>Phòng</th>
				<th>Email</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
        @for(faculty <- currentPage.getList()){
            <tr>
                <td>@faculty.mgv</td>
                <td>@faculty.name</td>
                <td>@faculty.phoneNumber</td>
                <td>@faculty.placeWork</td>
                <td>@faculty.email</td>
            </tr>
        }
        </tbody>
    </table>
}