@(loginForm: Form[Application.Login])
@import helper._
@import helper.twitterBootstrap._

@main("Chào mừng bạn đến với hệ thống quản lý luận văn cao học!") {
  @helper.form(helper.CSRF(routes.Application.authenticate)) { 
   <div class="container">
   	<form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" name="email" 
                           value="@loginForm("email").value" placeholder="Enter email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-10">          
        <input type="password" name="password" placeholder="Enter password">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label><input type="checkbox"> Ghi Nhớ</label>
        </div>
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Đăng Nhập</button>
      </div>
    </div>
   </form>
  </div>
  }
}