@import models.Student;
@import models.Faculty;
@if(session().get("email")!= null){
<nav class="navbar navbar-default" id="navigation" style ="color:#3366CC;">
    <div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">HỆ THỐNG QUẢN LÝ LUẬN VĂN CAO HỌC</a>
		</div>
		<div>
            <ul class="nav navbar-nav">
			@if(!session.get("email").equals("giaovu@vnu.edu.vn")){
				<li><a href="@routes.Application.profile()" > CẬP NHẬT HỒ SƠ</a></li>
				}
                <li><a href="@routes.Students.list()" >DS SINH VIÊN</a></li>
                <li><a href="@routes.Faculties.list()">DS GIÁO VIÊN</a></li>
                <li><a href="">LIÊN HỆ</a></li>
            </ul>
			<ul class="nav navbar-nav navbar-right">
                    <li><a href="">@session.get("email")</a></li>
					<li><a href="@routes.Application.logout()">
					<span class="glyphicon glyphicon-log-out"></span>Đăng xuất</a></li>
            </ul>	
		</div>
    </div>
</nav>
}else{
<table>
	<tr><td ><img src = "@routes.Assets.at("images/logo.jpg")" alt = "uet"></td>
	<td class='dhqg'><h3><b>TRƯỜNG ĐẠI HỌC CÔNG NGHỆ</b></h3>
					<h3><b>HỆ THỐNG QUẢN LÝ LUẬN VĂN CAO HỌC</b></h3>
	</td></tr>
</table>
<hr>
} 